<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
PrivacyInfo.xcprivacy
MiamIOSFramework

Created by Diarmuid McGonagle on 07/03/2024.
Copyright (c) 2024 Miam. All rights reserved.
-->
    <plist version="1.0">
    <dict>
        <key>NSPrivacyAccessedAPITypes</key>
        <array />
        <key>NSPrivacyTracking</key>
        <false/>
        <key>NSPrivacyCollectedDataTypeProductInteraction</key>
        <true/>
        <key>NSPrivacyCollectedDataTypes</key>
        <array>
            <dict>
                <key>NSPrivacyCollectedDataType</key>
                <string>NSPrivacyCollectedDataTypeUserID</string>
                <key>NSPrivacyCollectedDataTypeLinked</key>
                <false/>
                <key>NSPrivacyCollectedDataTypeTracking</key>
                <false/>
                <key>NSPrivacyCollectedDataTypePurposes</key>
                <array>
                    <string>NSPrivacyCollectedDataTypePurposeAnalytics</string>
                    <string>NSPrivacyCollectedDataTypePurposeAppFunctionality</string>
                    <string>NSPrivacyCollectedDataTypePurposeDeveloperAdvertising</string>
                    <string>NSPrivacyCollectedDataTypePurposeProductPersonalization</string>
                </array>
            </dict>
        </array>
    </dict>
    </plist>
